body {
	/* Основные цвета */
	--background: #272822;
	--text-color: #F8F8F2; /* Основной текст */
	--muted-text: #75715E;  /* Комментарии, второстепенный текст */
    --toolbar-background: #2F3129; /* Фон тулбара */
    --toolbar-color: var(--muted-text); /* цвета элементов тулбара */

	/* Ссылки */
	--link-color: #66D9EF;           /* Обычные ссылки [текст](url) */
	--link-hover-color: #A6E22E;      /* При наведении */
	--link-background: transparent;   /* Фон ссылок (опционально) */

	/* URL-адреса */
	--url-color: #AE81FF;             /* Ссылки в виде URL (https://...) */
	--url-background: transparent;    /* Фон URL */

	/* Форматирование (символы Markdown) */
	--formatting-color: #75715E;      /* Символы #, *, `, [], () и т.д. */
	--formatting-background: transparent;

	/* Заголовки */
	--heading-color: #F92672;         /* # Заголовок */
	--heading-underline:1px solid #75715E;        /* Подчеркивание (для H1-H2) */

	/* Код */
	--inline-code-color: #F92672;     /* `код` */
	--inline-code-background: #3E3D32; /* Фон инлайн-кода */

	/* Списки */
	--list-marker-color: #F92672;     /* Маркеры списков (-, *, 1.) */
	--list-item-color: #F8F8F2;       /* Текст пунктов */

	/* Цитаты */
	--blockquote-color: #E6DB74;      /* > Цитата */
	--blockquote-border: 1px solid #75715E;     /* Левая граница */
	--blockquote-background: #3E3D32; /* Фон (опционально) */
	--blockquote-font-style: italic;

	/* Горизонтальные линии (---, ***) */
	--hr-color: #75715E;
	--hr-line: 1px solid #75715E;
	/* --hr-line-preview: linear-gradient(to right, #ff0000, #00ff00); */
	--hr-line-preview: var(--hr-color);

	/* Выделение (жирный, курсив) */
	--bold-color: #F92672;            /* **Жирный** */
	--italic-color: #A6E22E;          /* *Курсив* */
	--bold-italic-color: #FD971F;     /* ***Жирный курсив*** */

	/* Таблицы */
	--table-border: #75715E;          /* Границы таблиц */
	--table-header-bg: #3E3D32;       /* Заголовок таблицы */

	/* Каретка (курсор) */
	--caret-color: #F8F8F2;           /* Цвет каретки */

	/* Выделение текста */
	--selection-color: #49483E;       /* Цвет фона выделения */
	--selection-text-color: #F8F8F2;  /* Цвет текста при выделении */
}
